*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.container{
    width: 75%;
    margin: auto;
}

.float-left{
    float: left;
}

.clear-fix::after{
    content: '';
    display: table;
    clear: both;
}

a{
    display: inline-block;
    font-size: 10px;
    color: #b7cdda;
}

p{
    color: gray;
    font-size: 12px;
}

.m-10{
    margin-top: 10px;
}

.m-5{
    margin-top: 5px;
}

/* BUTTON */

.btn{
    background-color: #7eb803;
    padding: 5px 20px 5px 10px;
    border-radius: 5px;
}

.btn-normal{
    background-color: #7eb803;
    padding: 10px;
    border-radius: 5px;
}
/* HEADER */

.main-header{
    border-bottom: 0.5px solid #F1ECE9;
}

.main-header .container{
    height: 300px;
}

.main-header .content-left{
    width: 50%;
    height: 100%;
    text-align: center;
}

.main-header .content-left img{
    margin: 15px 60px 0 0;
    width: 300px;
    height: 270px;
}

.main-header .content-right{
    position: relative;
    width: 50%;
    height: 100%;
}

.main-header .content-right .container-content-right{
    position: absolute;
    top: 50%;
    left: 0;
    width: 70%;
    transform: translateY(-50%);
}

.main-header .content-right h1{
    font-size: 16px;
}

.main-header .content-right p{
    margin-top: 20px;
    margin-bottom: 15px;
}

.main-header .content-right a.btn{
    color: white;
}

.container-content-right a:last-child{
    text-align: center;
}

.container-content-right > a{
    width: 110px;
    text-decoration: none;
}

/* MAIN */

/* SECTION INTERAZIONE */

section.interazione > .container{
    position: relative;
    height: 400px;
    margin: auto;
    width: 40%;
    text-align: center;
}

.container div.content-interazioni{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

div.content-interazioni h4 span{
    color: #7eb803;
}

/* SECTION INFO */

section.info{
    background-color: #0c3259;
}

section.info > .container{
    height: 300px;
    position: relative;
}

section.info .info-azienda{
    position: absolute;
    top: 50%;
    left: 0;
    width: 20%;
    transform: translateY(-50%);
}

.info-azienda > h4,
.info-azienda >a{
    color: white;
    text-decoration: none;
}

.info-azienda > p{
    padding: 30px 0;
}

/* SECTION PROGRAM */

section.program .container{
    position: relative;
    width: 60%;
    margin: auto;
    height: 450px;
}

section.program .position{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

section.program .col-left,
section.program .col-center,
section.program .col-right{
    width: 25%;
    margin: 20px;
}

section.program img{
    width: 30px;
    height: 30px;
}

section.program .position h4{
    text-align: center;
    margin-bottom: 80px;
}

section.program .col-left p{
    padding: 25px 0;
    border-bottom: 5px solid #9ac7ef;
}

section.program .col-center p{
    padding: 25px 0;
    border-bottom: 5px solid orange;
}

section.program .col-right p{
    padding: 25px 0;
    border-bottom: 5px solid #82b310;
}

section.program .col-center a{
    color: orange;
}

section.program .col-right a{
    color: #82b310;
}

/* SECTION FAQ */

section.faq{
    background-color: #0c3259;
}

section.faq .container{
    width: 60%;
    position: relative;
    height: 70px;
}

section.faq .position{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

section.faq .position p{
    color: #677c8f;
}

section.faq .position h4{
    color: white;
}

section.faq .position h4 a{
    color: orange;
    font-size: 16px;
    text-decoration: none;
}

/* FOOTER */

footer.item{
    background-color: #17416b;
    height: 170px;
}

footer.item .container{
    width: 60%;
    position: relative;
    height: 100%;
}

footer.item .position{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


footer.item .item-left,
footer.item .item-right{
    width: 50%;
}

footer.item li{
    list-style: none;
    padding: 5px 0;
    font-size: 8px;
    color: #5b83a9;
}

footer.item .item-right{
    text-align: right;
}

footer.item .item-right h4{
    padding-bottom: 15px;
}

footer.item .item-right li{
    padding: 0;
}

footer.item h4{
    color: white;
    font-size: 12px;
}